<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <div class="reset-password-container">
      <div class="reset-password-card">
        <div class="icon-container">
          <img src="../../assets/img/unlocked.jpg" alt="Warning Icon" />
        </div>
        <h2>Forgot Password</h2>
        <p>
          Enter your email and we'll send you a link to reset your password.
        </p>
        <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
          <div class="input-container">
            <i class="fa fa-envelope email-icon"></i>
            <input
              type="email"
              name="email"
              [(ngModel)]="email"
              placeholder="Email"
              required
            />
          </div>

          <button
            type="submit"
            mat-raised-button
            [disabled]="!resetForm.form.valid"
          >
            Send
          </button>
        </form>
        <a routerLink="/login" class="back-to-login"
          ><i class="fas fa-arrow-left"></i> Back to Login</a
        >
      </div>
    </div>
  </body>
</html>