.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .reset-password-card {
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .icon-container {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .icon-container img {
    width: 70%;
  }
  
  .reset-password-card h2 {
    margin-bottom: 1em;
  }
  
  .reset-password-card p {
    margin-bottom: 2em;
    color: #555;
  }
  
  .reset-password-card form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 1em;
  }
  
  .email-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2em;
  }
  
  .input-container input {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 2.5em; /* Adjust padding to make room for the icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1em;
  }
  
  .reset-password-card button {
    padding: 0.5em;
    background-color: #2bbbad;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
  .reset-password-card button:disabled {
    background-color: #aaa;
  }
  
  .reset-password-card a {
    display: block;
    margin-top: 1em;
    color: #007bff;
    text-decoration: none;
  }
  
  .back-to-login {
    color: #007bff;
  }