<h1 mat-dialog-title>Demande d'adhésion</h1>
<div mat-dialog-content>
  <div class="text-center">
    <img [src]="data.user.userImg ? 'data:image/png;base64,' + data.user.userImg : 'https://bootdey.com/img/Content/avatar/avatar7.png'" alt="User" class="rounded-circle" width="150">
    <div class="mt-3">
      <h2>{{ data.user.userPrenom }} {{ data.user.userName }}</h2>
      <p>Date de naissance: {{ data.user.userDatenais | date:'longDate' }}</p>
      <p>Lieu de naissance: {{ data.user.userLieunais }}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-outline-dark btn-sm w-100" mat-button (click)="onClose()">Fermer</button>
</div>
