<h2 mat-dialog-title>Modifier Mot de passe</h2>
<mat-dialog-content>
  <form [formGroup]="passwordForm" class="password-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ancien mot de passe</mat-label>
      <input matInput type="password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirmer nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPasswordMatch">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onSubmit()" [disabled]="!passwordForm.valid">Modifier</button>
</mat-dialog-actions>
