* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e3f2fd; /* Soft blue background */
}

.full-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensures the container takes the full viewport height */
  background: #e3f2fd;
}

.form-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
}

.form-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #00796b; /* Dark teal color */
}

.input-box {
  width: 100%;
  margin-bottom: 1rem;
}

.input-box input,
.input-box select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background: #f9f9f9;
  transition: border-color 0.3s;
}

.input-box input:focus,
.input-box select:focus {
  border-color: #00796b; /* Dark teal color */
}

.input-box label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #00796b; /* Dark teal color */
}
.uploaded input[type="file"] {
  border-color: green; /* Change border color to green when file is selected */
}
.upload-status {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: green;
}

.btn {
  width: 100%;
  padding: 1rem;
  border: none;
  background: #00796b; /* Dark teal color */
  color: #ffffff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #004d40; /* Darker teal color */
}